<!-- experience.component.html -->

<section class="experience-section">
    <h2>Experience</h2>
  
    <!-- Software Engineer at RIT Tech Intelligence Solutions -->
    <div class="experience-item">
      <h3>Software Engineer</h3>
      <p class="company">RIT Tech Intelligence Solutions LTD., Kfar Saba</p>
      <p class="date">March 2023 - Present</p>
      <p>
        Working at a startup company specialized in data centers software solutions, development of server-side applications using .NET, and building software drivers for devices. Also involved in the development of console applications.
      </p>
    </div>
  
    <!-- Software Engineer at NCR Corporation -->
    <div class="experience-item">
      <h3>Software Engineer</h3>
      <p class="company">NCR Corporation, R'annana</p>
      <p class="date">November 2021 - January 2023</p>
      <p>
        Development of software systems for retail companies. Worked with C# programming language on .NET platform, used MSSQL as a database, and collaborated using TFS. Involved in WPF Microsoft Desktop development.
      </p>
    </div>
  
    <!-- Full Stack Developer at Mizrahi-Tefahot Bank -->
    <div class="experience-item">
      <h3>Full Stack Developer</h3>
      <p class="company">Mizrahi-Tefahot Bank, Tel-Aviv</p>
      <p class="date">January 2020 - October 2021</p>
      <p>
        Worked in the Technology division as part of the internship program at the bank. Engaged in server-side development in Java, C# (.NET CORE), and client-side development in JavaScript using Angular framework (version 8). Also worked with Oracle DB as the main database.
      </p>
    </div>
  
    <!-- Instructor at Cyber Education Center -->
    <div class="experience-item">
      <h3>Instructor</h3>
      <p class="company">Cyber Education Center, Hadera</p>
      <p class="date">March 2019 - March 2020</p>
      <p>
        Taught C++/Object Oriented Programming. Responsible for delivering course content, including tasks and exercises.
      </p>
    </div>
  
    <!-- Technical Support Representative at Partner Communications -->
    <div class="experience-item">
      <h3>Technical Support Representative</h3>
      <p class="company">Partner Communications, Tel-Aviv</p>
      <p class="date">March 2017 - March 2019</p>
      <p>
        Provided technical support and solutions to the company's business customers. Handled and supported communications and information security equipment belonging to Cisco, Juniper, Check Point, Fortinet.
      </p>
    </div>
    <div class="github-link-container">
    <div class="github-link">
        <p class="github-description">Link to my GitHub page which includes all my software projects:</p>
        <a href="https://www.github.com/OrelBracha" target="_blank">GitHub Profile</a>
    </div>
    </div>
  </section>
  
