/* about.component.css */
.home-container {
    text-align: center;
    padding: 40px;
    background-color: #ddd7f8; /* Light red background color */
    color: #721c24; /* Dark red text color */
  }
  
  .title {
    font-size: 2.5rem;
    color: #155724; /* Dark green title color */
  }
  
  .navigation {
    margin-top: 20px;
  }
  
  .navigation a {
    margin: 0 10px;
    text-decoration: none;
    color: #004085; /* Dark blue link color */
  }
  
  
  .about-content {
    font-size: 1.5rem; /* Larger font size */
    margin-top: 20px;
    line-height: 2; /* Adjust line height for better readability */
    color: #4c4c4c; /* Slightly darker text color */
  }