<!-- about.component.html -->
<div class="home-container">
    <h1 class="title">Orel Bracha CV</h1>
    <p>Full Stack Web Developer</p>
  </div>
  <div class="about-content">
    <p>About Me</p>
    <p>
      I am a passionate software engineer with a love for building
      innovative solutions. My journey in the world of technology has been
      filled with exciting challenges and continuous learning.
    </p>
    <p>
      Feel free to explore my educational background, professional
      experience, and get in touch with me for any inquiries.
    </p>
  </div>
