<h2>Education</h2>

<div class="education-item">
    <h2>MBA: Business Management And Marketing</h2>
    <p>Bar Ilan University - Israel</p>
    <p>December 2023 - Present</p>
  </div>
  
  <div class="education-item">
    <h2>Bachelor of Science: Computer Science And Programming</h2>
    <p>Ariel University - Ariel, Israel</p>
    <p>October 2017 - March 2021</p>
  </div>
  
  <div class="education-item">
    <h2>Certified CCNP- Cisco Certified Network Professional</h2>
    <p>April 2017</p>
  </div>
  
  <div class="education-item">
    <h2>Certified CCNA - Cisco Certified Network Professional</h2>
    <p>January 2016</p>
  </div>
  